@page "/createemployee"
@inject IEmployeeService Service
@inject NavigationManager navManager
<h3>CreateEmploye</h3>

<Form ButtonText="Create Employee" employee="@employee"
            OnValidSubmit="@Create" />

@code {
    Employee employee = new Employee();
    async Task Create()
    {
        await Service.AddEmployee(employee);
        navManager.NavigateTo("/");
    }
}